@CHARSET "ISO-8859-1";

body {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 9pt;
	color: black;
	scrollbar-base-color: #005B70;
	scrollbar-arrow-color: #F3960B;
	scrollbar-DarkShadow-Color: #000000;
}

a:visited,a:active,a:hover,a:link {
	color: black;
	text-decoration: none;
}

table,tr,td {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 9pt;
}

img {
	border: none;
}

textarea {
	font-family: helvetica, arial, geneva, sans-serif;
	font-size: 9pt;
	color: black;
}





@media only screen and (min-width : 993px) {
	header, main, footer {
		padding-left: 300px;
	}
	
	header .nav-wrapper {
		padding-left: 48px;
		padding-right: 48px;
	}

	header .nav-wrapper .brand-logo {
		display: none;
	}

	.login main, .register main {
		padding-left: 48px;
	}

	.login header .nav-wrapper .brand-logo,
	.register header .nav-wrapper .brand-logo {
		display: block;
	}
	
	.login header, .login footer, .register header, .register footer {
		padding-left: 0;
	}
	
}


