header, main, footer {
    padding-left: 0;
}

.sidenav {
    border-right: 2px solid #222;
}

.sidenav .sidenav-title {
    font-size: 2.1rem;
    padding: 20px;
    width: 100%;
    color: #111;
    text-align: center;
}
.sidenav-stats {
    padding: 0 20px;
}
.sidenav-stats .col a {
    height: 42px;
    padding-top: 6px;
    font-size: 1.2rem;
    display: inline-block;
}